<link rel="stylesheet" type="text/css" href="css/style.css" />
<html lang="en">
<head>
    <style>
    </style>
</head>
<body>


<main>
    <!--        <div class="border borderLeft"></div>-->
    <!--        <div class="border borderRight"></div>-->

    <header>Taciturn Media</header>

    <div class="topbar">
        <a href="/">Home</a>
        <a class="selected" href="/gallery">Gallery</a>
        <a href="/blog">Blog</a>
    </div>

    <img src="images/greg in 4k.jpeg" class="framed">
    <br>
    <p>A dazzling photograph of Greg Woolf in the beauty of nature.</p>
    <img src="images/dtpf.png" class="framed">
    <br>
    <p>The immense power of the DTPF, modestly here for all to bare witness.</p>
    <img src="images/greg fergus.jpg" class="framed">
    <br>
    <p>Greg Fergus, doppelgänger of Greg Woolf.</p>
    <img src="images/marty.jpg" class="framed">
    <br>
    <p>Mega Marty, the fitness overlord.</p>
    <img src="images/mega clive.jpg" class="framed">
    <br>
    <p>Mega Clive, your average hedge fund portfolio manager, hard at work.</p>
    <img src="images/mega damien level x.jpg" class="framed">
    <br>
    <p>Mega Damien Level X: the rarest Pokémon card in existence.</p>
    <img src="images/mega sven.jpg" class="framed">
    <br>
    <p>Mega Sven in his latest Grime music video.</p>
    <img src="images/barf.jpg" class="framed">
    <br>
    <p>An unfortunate end to a night out.</p>
    <img src="images/thumbnail_Mega Mick.jpg" class="framed">
    <p>Big Mick.</p>

</main>
</body>
</html>