<link rel="stylesheet" type="text/css" href="css/style.css" />
<html lang="en">
<head>
    <style>
    </style>
</head>
<body>


<main>
    <!--        <div class="border borderLeft"></div>-->
    <!--        <div class="border borderRight"></div>-->

    <header>Taciturn Media</header>

    <div class="topbar">
        <a href="/">Home</a>
        <a class="selected" href="/gallery">Gallery</a>
        <a href="/blog">Blog</a>
        <a href="/poems">Poems</a>
    </div>

    <p>
        This is the entrance to the Taciturn Gallery, revered by many around the world for its powerful emotional depth and profoundness. Here you may browse the available albums compiled by our scholars.
    </p>
    <p class="title">One</p>
    <a href = "/gallery/albums/one">
        <img src="images/greg in 4k.jpeg" class="framed">
    </a>

</main>
</body>
</html>