<link rel="stylesheet" type="text/css" href="css/style.css" />
<html lang="en">
<head>
    <style>
    </style>
</head>
<body>


<main>
    <!--        <div class="border borderLeft"></div>-->
    <!--        <div class="border borderRight"></div>-->

    <header>Taciturn Media</header>

    <div class="topbar">
        <a href="/">Home</a>
        <a class="selected" href="/gallery">Gallery</a>
        <a href="/blog">Blog</a>
    </div>

    <img src="images/entrance_lowres.png" class="framed">
    <br>
    <img src="images/greg in 4k.jpeg" class="framed">
    <br>
    <img src="images/dtpf.png" class="framed">
    <br>
    <img src="images/greg fergus.jpg" class="framed">
    <br>
    <img src="images/marty.jpg" class="framed">
    <br>
    <img src="images/mega clive.jpg" class="framed">
    <br>
    <img src="images/mega damien level x.jpg" class="framed">
    <br>
    <img src="images/mega sven.jpg" class="framed">

</main>
</body>
</html>