<link rel="stylesheet" type="text/css" href="css/style.css" />
<html lang="en">
<head>
    <style>
    </style>
</head>
<body>


    <main>
<!--        <div class="border borderLeft"></div>-->
<!--        <div class="border borderRight"></div>-->

        <header>Taciturn Media</header>

        <div class="topbar">
            <a class="selected" href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/blog">Blog</a>
            <a href="/poems">Poems</a>
        </div>

        <p>
            Welcome to the taciturn scrolls of the stars. Here you will find many of the scattered wonders of the universe unified into a unified corpus. Treat these sacrosanct scrolls with the utmost respect - they are many mega-anna old.
        </p>

        <image class="massive_turtle" src="images/Lepus.png">



    </main>
</body>
</html>