@font-face {
    font-family: "Perry Gothic";
    src : url("../fonts/PERRYGOT.TTF");
}
:root {
    /*background-image: url("../images/entrance.png");*/
    background-color: #FFFFED;
    --text-color: black;
    --content-spacing:5px;
}

body {
    width: 95%;

    text-align: center;

    color: var(--text-color);
    font-family: "Perry Gothic";
}

main {
    max-width: 95fix %;
    width: 1000px;

    margin: 0 auto;
    padding:24px;

    border-left: 100px solid transparent;
    border-right: 100px solid transparent;

    box-sizing: border-box;
    border-image: url("../images/border.png") 200 round;

}

img {
    position: relative;

    width: 80%;
    margin: 10px auto;
}

img.framed {
    border: 20px solid transparent;
    border-image: url("../images/photoframe.png") 50 round;
}

div.border {
    width: 10%;
    height: 100%;

    background-image: url("../images/border.png");
    background-repeat: repeat-y;
    background-size: contain;

    overflow: auto;
    overscroll-behavior: contain;
}

div.border.borderLeft {
    float: left;

    margin-left: -10%;
}

div.border.borderRight {
    float: right;
    transform: scaleX(-1);

    margin-right: -10%;
}