@font-face {
    font-family: "Perry Gothic";
    src : url("../fonts/PERRYGOT.TTF");
}
:root {
    --text-color: black;
    --content-spacing:5px;
}

body {
    width: 100%;

    margin: 0 auto;
    text-align: center;

    color: var(--text-color);
    background-image: url("../images/stars3.gif");

    font-family: "Perry Gothic", serif;
}

a:link {
    color: goldenrod;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: darkgoldenrod;
    background-color: transparent;
    text-decoration: none;
}

.topbar {
    position: sticky;
    top: 0px;
    margin: auto;
    background-color: #FFFFED;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.topbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
}

main {
    background-color: #FFFFED;

    max-width: 1200px;

    margin: 0 auto 0;

    background-clip: padding-box;

    border: 100px solid transparent;
    border-image: url("../images/borderFull.png") 200 round;

}



header {
    padding: 10px;
    text-decoration: underline;
    font-size: 50px;
    color: #fcc200;
}

img {
    position: relative;

    width: 80%;
    margin: 10px auto;
}

img.framed {
    border: 20px solid transparent;
    border-image: url("../images/photoframe.png") 50 round;
}
