@font-face {
    font-family: "Perry Gothic";
    src : url("../fonts/PERRYGOT.TTF");
}
:root {
    /*background-image: url("../images/entrance.png");*/
    background-color: #FFFFED;
    --text-color: black;
    --content-spacing:5px;
}

body {
    width: 98%;

    margin: 0 auto;
    text-align: center;

    color: var(--text-color);
    font-family: "Perry Gothic";
}

main {
    max-width: 60%;
    /*width: 1000px;*/

    margin: 0 auto;

    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-image: url("../images/border.png") 200 round;

}

img {
    position: relative;

    width: 80%;
    margin: 10px auto;
}

img.framed {
    border: 20px solid transparent;
    border-image: url("../images/photoframe.png") 50 round;
}
