<!DOCTYPE html>
<html>
    <head>
        <title>:)</title>
    </head>
    <body>
    <video autoplay playsinline name="media">
        <source src="videos/nggyu.webm" type="video/webm">
    </video>
    </body>
</html>