<!DOCTYPE html>
<html>
    <head>
        <title>:)</title>
    </head>
    <body>
        <video autoplay="autoplay">
            <source src="videos/nggyu.webm" type="video/webm">
            Your browser does not support HTML5 video.
          </video>
    </body>
</html>